<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <a href="/show_update_input" class="updateOn">
            <div class="tableContainer" th:class="${showUpdateInput}? updateApplicationContainerOff : tableContainer">
                <p class="theadText" th:text="${newArticle.title}"/>
                <p th:text="${newArticle.text}"/>
            </div>
        </a>

            <div class="updateApplicationContainerOff" th:class="${showUpdateInput}? updateApplicationContainerOn : updateApplicationContainerOff">
                <form action="#" th:action="@{/update_ap}" th:object="${newArticle}" method="post">
                    <input th:field="*{title}"/>
                 <br/>
                    <input class="description" th:field="*{text}"/>
                    <button type="submit">Сохранить</button>
                    <a href="/show_update_input"><button>Отменить</button></a>
                </form>
                <a href="/delete_app"><button>Удалить</button></a>
            </div>

        <form action="#" th:action="@{/add_comment}" th:object="${addComment}" method="post">
            <input type="text" placeholder="Введите имя" th:field="*{userName}"/>
            <input type="text" placeholder="Введите комментарий" th:field="*{userComment}"/>

            <input type="submit" value="Submit"/>
        </form>
        <th:block  th:each="comment :${comments}">
            <div class="comments">
                <span class="userName" th:text="${comment.userName}"/>
                <span  th:text="${comment.userComment}"/>
            </div>
        </th:block>

</body>
</html>


<style>
    body{
        margin: 0 25% 0 25%;
    }
    a{
        color: #000 !important;
        text-decoration: none;
    }
    .tableContainer{
        width: 100%;
        border: 1px solid gray;
        border-radius: 5px;
        margin: 10px;
    }
    :not(:active) > a.updateOn:not(:hover) {
        pointer-events: none;
    }
    .updateApplicationContainerOff{
        display: none;
    }
    .updateApplicationContainerOn{
        width: 100%;
        margin: 10px;
    }
    form input{
        width: 100%;
        border-radius: 5px;
        margin-top: 10px;
    }
    .description{
        height: 200px;
    }
    .theadText{
        font-weight: lighter;
        font-size: 20px;
        border-bottom: 2px solid gray;
    }
    p{
        word-wrap: break-word;
        padding: 0 5px 0 5px;
    }
    .comments{
        margin-top: 10px;
        border-bottom: 1px solid gray;
    }
    .userName{
        font-weight: bold;
        font-size: 20px;
    }

</style>