<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<header>
    <div class="headerText">
        <h1>UnitBeans</h1>
        <p>Статьи ,</p>
    </div>
    <a href="/addNewArticle"><button>Добавить</button>></a>
</header>
    <th:block  th:each="Bd :${newArticle}">
            <a class="tableContainer" th:href="@{${Bd.id}}">
                    <p class="theadText" th:text="${Bd.title}"/>
                    <p class="tbodyText" th:text="${Bd.text}"/>
            </a>
    </th:block>
</body>
</html>




<style>
    body{
        margin: 0 25% 0 25%;
    }
    header{
        display: flex;
        justify-content: space-between;
    }
    header p{
        margin-top: -10px;
        font-size: 30px;
    }
    .headerText{
        flex-direction: column;
    }
    a {
        color: #000 !important;
        text-decoration: none
    }
    header a button {
        margin-top: 20px;
        width: 100px;
        height: 100px;
        cursor: pointer;
        border-radius: 50%;
        background-color: white;
        border-color: darkorange;
        color: darkorange;
    }

    .tableContainer{
        display: inline-block;
        width: 45%;
        border: 1px solid gray;
        border-radius: 5px;
        margin: 10px;
        cursor: pointer;
    }
    .theadText{
        font-weight: lighter;
        font-size: 20px;
        border-bottom: 2px solid gray;
    }
    .tbodyText{
        height: 300px;
        word-wrap: break-word;
        overflow-y: hidden;
        padding: 0 5px 0 5px;
    }
</style>